<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <div>
        <h1>
            To Do List
            You currently have {{ l|length }} things to do.
        </h1>
        {% from "_formhelper.html" import render_field %}
        <form method=post>
            <dl>
                {{ render_field(form.activity_name) }}
            </dl>
            <input type=submit value=Register>
        </form>
        <ul>
            {% for item in l %}
                <li>{{ item[1].name }}   {{ item[1].time }}</li>
                <a class="button" href="{{ url_for('delete_activity', id=item[0] ) }}">Delete</a>
            {% endfor %}
        </ul>
    </div>
</body>
</html>